<app-documentation [data]="menuItem"></app-documentation>
<div class="rows">
    <div class="column">
        <form class="columns">
            <input type="text" [(ngModel)]="model.comment" name="comment">
            <div class="columns">
                <div class="rows center_align">
                    <input type="radio" name="visibility" value="public" [checked]="model.visibility == 'public'"
                        [(ngModel)]="model.visibility" />
                    <label>Public</label>
                </div>
                <div class="rows center_align">
                    <input type="radio" name="visibility" value="private" [checked]="model.visibility == 'public'"
                        [(ngModel)]="model.visibility" />
                    <label>Private</label>
                </div>
            </div>
        </form>
    </div>
    <div class="column">
        <pre>{{ model | json }}</pre>
    </div>
</div>